PORT=3000

HASURA_GRAPHQL_ENDPOINT=http://localhost:8080/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=change-me

JWT_SECRET=change-me-too

CHAPA_SECRET_KEY=change-me
CHAPA_WEBHOOK_SECRET=change-me

CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

MQTT_BROKER_URL=tcp://test.mosquitto.org:1883
MQTT_CLIENT_ID=cinema-server
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TIMEOUT_SECONDS=30